.btn {
    font-family: $font-familyRoboto;
    font-size: $fontsize__small !important;
    color: $colorblanco;
    background-color: $negroplomo !important;
    border-radius: 50px !important;
    height: 40px;
}

.btn {
    background-color: $negroplomo !important;
}
.btn:hover {
    background-color: $colorplomoclaro !important;
}
