// colores blanco
$colorblanco: #FFF;
$colorplatinum: #e6e7e7;
$colorplomoclaro: #d1d1d1;

// colores salmon
$colorsalmon: #e56353;
$salomonmedio: #d76c69;
$salmonclaro: #ECBCBA;

// negro
$negroespecial: #121619;
$negroclaro: #222323;
$negroplomo: #6c6e70;

// typographya
$fontsize__xx-large:70px;
$fontsize__x-large: 30px;
$fontsize__large: 18px;
$fontsize__medium: 16px;
$fontsize__small: 12px;

// Playfair Display
$font-familyPlay: 'Playfair Display', serif;

// roboto
$font-familyRoboto: 'Roboto', sans-serif;
